DATABASE_URL=""

HTTP_DOMAIN="https://127.0.0.1:5173"
HTTP_HOST=localhost
HTTP_PORT=3501

HTTP_OPEN_API_PREFIX=/docs

JWT_SECRET=super-long-random-secret-ChangeMe!!!123min-length-recommended
JWT_ACCESS_EXPIRES=1d
JWT_REFRESH_EXPIRES=7d

RESEND_API_KEY=