version: '3.9'

services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres17
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - '5002:5432' # external:internal
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U admin']
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  postgres_data:
